.services {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  gap: 4rem;
  background: rgb(243, 235, 225);
}

.services span:nth-of-type(1) {
  color: rgb(182, 142, 194);
  font-weight: 900;
  font-size: 20px;
}

.services span:nth-of-type(2) {
  color: rgb(16, 16, 53);
  font-size: 15px;
}

.services-list {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.services-list > * {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

@media screen and (max-width: 480px) {
  .services{
    margin-top: 20%;
    padding: 10%;
    gap: 6rem;
  }
  .services-list {
    flex-direction: column;
    gap: 5rem;
  }
  .services-list > *{
    width: 350px;
  }
}
