.services {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  gap: 4rem;
  background: rgb(245, 239, 232);
  padding-top: 5%;
}

.headline {
  color: rgb(101, 128, 159);
  opacity: 0;
  text-align: center;
  transform: translateY(60px);
  visibility: hidden;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out, visibility 4s;
}
.services .headline span {
  font-size: 2.2rem !important;
}

.services span:nth-of-type(1) {
  color: rgb(101, 128, 159);
  font-weight: bold;
  font-size: 20px;
}

.services span:nth-of-type(2) {
  color: rgb(16, 16, 53);
  font-size: 15px;
}

.services-list {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  opacity: 0;
  transform: translateY(60px);
  visibility: hidden;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out, visibility 4s;
}

.srv1 {
  opacity: 0;
  transform: translateY(60px);
  visibility: hidden;
  transition: opacity 4s ease-in-out, transform 4s ease-in-out, visibility 6s;
}

.srv2 {
  opacity: 0;
  transform: translateY(60px);
  visibility: hidden;
  transition: opacity 5s ease-in-out, transform 5s ease-in-out, visibility 7s;
}

.srv3 {
  opacity: 0;
  transform: translateY(60px);
  visibility: hidden;
  transition: opacity 6s ease-in-out, transform 6s ease-in-out, visibility 8s;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.services-list > * {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

@media screen and (max-width: 480px) {
  .services {
    margin-top: 20%;
    padding: 10%;
    gap: 6rem;
  }
  .services-list {
    flex-direction: column;
    gap: 5rem;
  }
  .services-list > * {
    width: 350px;
  }
}
