.about {
  margin: 7% 20%;
  display: flex;
  gap: 2rem;
}

.a-right{
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: start;
}

.a-section{
    width: 70%;
}

.line {
  background: rgb(215, 185, 120);
  height: 2px;
  width: 23%;
}

.a-left{
    display:flex;
    align-items: center;
    justify-content: center;
}

.a-left > img {
    width: 60%;
}

@media screen and (max-width: 480px) {
  .about {
    flex-direction: column;
  }
  .a-right{
    align-items: center;
    text-align: center;
  }
  .line{
    width: 100%;
  }
}
