.contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.getInput {
  height: 22rem;
  width: 90rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--boxShadow);
  gap: 5rem;
  border: 2px solid rgb(182, 142, 194);
  border-radius: 20px;
}

.headline {
  margin-top: 50px;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 900;
}

.headline span:nth-of-type(3) {
  color: rgb(182, 142, 194);
}

.getInput > form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.getInput .user {
  width: 15rem;
  height: 2rem;
  padding: 0.3em;
  outline: none;
  border: 2px solid white;
  background: rgb(236, 227, 239);
  border-radius: 2px;
  font-size: 16px;
  border-radius: 20px;
}

@media screen and (max-width: 480px) {
  .contact {
    margin-top: 7%;
    margin-bottom: 10%;
  }
  .getInput {
    width: 25rem;
    height: 28rem;
    transform: scale(0.9);
    gap: 3rem;
  }
  .headline{
    font-size: 14px;
  }
  .getInput > form {
    flex-direction: column;
  }
  .s-button{
    width: 100%;
  }
}
