.intro {
  display: flex;
  gap: 1rem;
}

.introRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 50%;
}

.logoImg {
  width: 20%;
  margin-top: 5%;
}

.introHeading {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

.introHeading span:nth-of-type(1) {
  color: rgb(101, 128, 159);
}

.introHeading2 {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
}

.introLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.heroImg {
  width: 100%;
  border-radius: 0 0 500px 0;
  box-shadow: 0 13px 22px 0 rgba(0, 0, 0, 0.5);
}

.introButton {
  border-radius: 40px;
  padding: 15px 35px;
  font-size: 24px;
}

@media screen and (max-width: 480px) {
  .intro {
    flex-direction: column;
  }
  .introRight {
    width: 100%;
  }
  .logoImg {
    width: 30%;
  }
  .introHeading {
    font-size: 2.2rem;
  }
  .introHeading2 {
    font-size: 18px;
  }
  .introLeft {
    width: 100%;
  }
}
