.footer {
  display: flex;
  align-items: center;
  background: rgb(161, 161, 161);
  gap: 4rem;
}

.footer > * {
  margin-top: 2%;
  margin-bottom: 2%;
}

.f-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 5%;
  font-size: 13px;
  align-items: center;
}

.links:hover {
  color: white;
  cursor: pointer;
}

.f-icons {
  display: flex;
  gap: 0.5rem;
}

.f-icons a {
  color: black;
}

.f-icons a:hover {
  color: white;
}

.f-left {
  font-size: 13px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
  .f-left {
    text-align: center;
  }
}
