.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(161, 161, 161);
  gap: 5rem;
  padding: 2rem;
}

/* .footer > * {
  margin-top: 3rem;
  margin-bottom: 3rem;
} */

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 13px;
  text-align: center;
}

.links:hover {
  color: white;
  cursor: pointer;
}

.footerIcons {
  display: flex;
  gap: 0.5rem;
}

.footerIcons a {
  color: black;
}

.footerIcons a:hover {
  color: white;
}

.footerRight {
  font-size: 13px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
  }
  .footerRight {
    text-align: center;
  }
}
