.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  gap: 5rem;
  padding: 1rem;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 13px;
}

.links {
  color: white;
}

.links:hover {
  color: rgb(200, 194, 201);
  cursor: pointer;
}

.footerIcons {
  display: flex;
  gap: 0.5rem;
}

.footerIcons a {
  color: white;
}

.footerIcons a:hover {
  color: rgb(200, 194, 201);
}

.footerRight {
  color: white;
  font-size: 13px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
  }
  .footerLeft {
    text-align: center;
  }
  .footerRight {
    text-align: center;
  }
}
